@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview_card {
    width: 340px;
    height: 570px;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 16px;
    cursor: pointer;
}

#card_img {
    width: 300px;
    height: 55%;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: red;
    background-image: url('./images/image-equilibrium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.preview_eye {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.preview_eye:hover {
    background-color: hsla(178, 100%, 50%, 0.5);
    background-image: url('./images/icon-view.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#text_heading {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}

#text_heading:hover {
    color: hsl(178, 100%, 50%);
}

#text_subheading {
    color: hsl(215, 51%, 70%);
    margin-bottom: 20px;
}

.preview_rating {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

.ethereum {
    display: flex;
}

.eth {
    margin-right: 5px;
}

.eth_text {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.time_text {
    color: hsl(215, 51%, 70%);
}

#line {
    height: 0.5px;
    width: 100%;
    background-color: hsl(215, 51%, 70%);
    border: none;
    margin-bottom: 20px;
}

.card_profile {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}

.avatar {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50px;
}

.avatar_name {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.avatar_name:hover {
    color: hsl(178, 100%, 50%);
}



